<!doctype html>

<html>

<head>
   <title>Inspect Photo</title>
   <!-- Required meta tags -->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css')}}">
   <link href="{{ url_for('static',filename='css/docs.css')}}" rel="stylesheet">
   <script src="{{ url_for('static',filename='js/bootstrap.bundle.min.js')}}"></script>
   <script src="{{ url_for('static',filename='js/ol.js')}}"></script>
   <style>
      .fill { 
            min-height: 100%;
            height: 100%;
         }

      .dropzone {
         background: white;
         border-radius: 5px;
         border: 2px dashed rgb(0, 135, 247);
         border-image: none;
         max-width: 500px;
         margin-left: auto;
         margin-right: auto;
      }

      .myrow{
         --bs-gutter-x: 1.5rem;
         --bs-gutter-y: 0;
         display: flex;
         flex-wrap: wrap;
      }
   </style>
</head>

<body style="background-color: black;">
   <footer class="mt-auto py-3 bg-dark">
      <div class="container">
         <div class="row">
            <div class="col text-start">
               <span class="text-muted fs-6">v0.1</span>
            </div>

               <div class="col" style="color: antiquewhite;">
                  <h1>Photo inspector</h1> None of of your image is stored on the server
               </div>
            <div class="col text-end">
               <a href="https://www.paypal.com/donate/?business=7HRKKHKTPEXRU&no_recurring=0&currency_code=EUR" 
               target="_blank" type="button" class="btn btn-secondary btn-sm"> Buy me a beer!</a>
            </div>
         </div>
      </div>
   </footer>
   <div class="container">
      <!-- Content here -->
      <div class="row mt-1">
         <div class="input-group mb-3 mt-1">
            <input class="form-control" type="file" id="formFile">
            <div class="input-group-append">
               <button class="btn btn-outline-light" type="button" id="loadButton">Load</button>
             </div>
          </div>
      </div>
      <div class="row" style="margin-right: 0; margin-left: 0">
         <div class="col">
               <div id="map" style="width: 100%; height:300px; margin: 0px; padding: 0px;"></div>
    
               <div class="myrow">
                  <div id="address" style="color: chocolate;"></div>
                  <table class="table shadow rounded" id="info" style="background-color:antiquewhite; margin-top: 12px;">
                  </table>
               </div>
         </div>
         <div class="col-6" style="width: 455px">
               <canvas id="preview" width="450" height="450" style="border-style: dotted; border-color: antiquewhite;"></canvas>
               <!-- img id="preview" style="max-width: 600px;"/ -->
         </div>
         <div class="col-2 m-2" >
            <table style="width: 145px;">
               <tr>
                  <td>            
                     <div id="status" style="color: antiquewhite;"></div>
                  </td>
               </tr>
               <tr>
                  <td>            
                  <div id="rgb" style="width: 100%; height: 45px;"></div>
               </td>
               </tr>
            </table>
         </div>

      </div>
   </div>


   

   <script src="{{ url_for('static',filename='js/popper.min.js') }}"></script>
   <script src="{{ url_for('static',filename='js/jquery-3.6.1.min.js') }}"></script>
   <script src="{{ url_for('static',filename='js/ol.js') }}"></script>

   <script>

      var map;
      var fileurl;
      var colorcapture = false;

      $(document).ready(function () {

         $("#info").hide(); 

         ol.proj.useGeographic();

         map = new ol.Map({
         controls: ol.control.defaults.defaults({
            zoom: true,
            attribution: true,
            rotate: false
         }),
         layers: [
            new ol.layer.Tile({ // TileLayer({
               source: new ol.source.OSM(),
            })
         ],
         target: 'map',
         view: new ol.View({
               zoom: 4
            })
         });

         showLocation(12.4573	,41.9019);
      });


      function drawImageScaled(img, ctx) {
   
         var canvas = ctx.canvas ;
         var hRatio = canvas.width  / img.width    ;
         var vRatio =  canvas.height / img.height  ;
         var ratio  = Math.min ( hRatio, vRatio );
         var centerShift_x = ( canvas.width - img.width*ratio ) / 2;
         var centerShift_y = ( canvas.height - img.height*ratio ) / 2; 


         ctx.drawImage(img, centerShift_x,centerShift_y, img.width, img.height,
                           centerShift_x,centerShift_y, img.width*ratio, img.height*ratio);  
      };


      function buildLayer(long, lat){
         var place = [long, lat];
         var point = new ol.geom.Point(place);
         var circleFeature = new ol.Feature(point);
         var vectorSource = new ol.source.Vector({});
         vectorSource.addFeature(circleFeature);
         var vectorLayer = new ol.layer.Vector({
               source: vectorSource,
               style: {
                  'circle-radius': 9,
                  'circle-fill-color': 'red',
               }
         });
         return vectorLayer
      };

      function showLocation(long, lat, drawDot = true){

         place=[long, lat];
         map.getView().setCenter(place);
         var layers = map.getLayers().getArray();
         if (layers.length > 0){
            map.removeLayer(map.getLayers().getArray()[1]);
         }
         if (drawDot){
            map.addLayer(buildLayer(long, lat));
         }

         reverseGeocode(place);

         return false;

      };

      function findPos(obj) {
         var curleft = 0, curtop = 0;
         if (obj.offsetParent) {
            do {
                  curleft += obj.offsetLeft;
                  curtop += obj.offsetTop;
            } while (obj = obj.offsetParent);
            return { x: curleft, y: curtop };
         }
      return undefined;
      };

      $('#preview').mousemove(function(e) {
         if(colorcapture){
            var pos = findPos(this);
            var x = e.pageX - pos.x;
            var y = e.pageY - pos.y;
            var coord = "x=" + x + ", y=" + y;
            var c = this.getContext('2d');
            var p = c.getImageData(x, y, 1, 1).data; 
            var hex = "#" + ("000000" + rgbToHex(p[0], p[1], p[2])).slice(-6);
            // $('#status').html(coord + "<br> HEX: " + hex);
            $('#status').html("HEX: " + hex);
            $('#rgb').css('background', hex);
         }
      });

      $('#preview').click(function(e) {
           colorcapture = !colorcapture;
      });

      async function reverseGeocode(coords) {
         let response = await fetch(('http://nominatim.openstreetmap.org/reverse?format=json&lon=' + coords[0] + '&lat=' + coords[1]));
         if (response.status === 200) {
            let data = await response.json();
            let display_name = data['display_name']
            console.log(display_name);
            $('#address').html(display_name)     
         }
      };

      function rgbToHex(r, g, b) {
         if (r > 255 || g > 255 || b > 255)
            throw "Invalid color component";
         return ((r << 16) | (g << 8) | b).toString(16);
      }

      function randomInt(max) {
      return Math.floor(Math.random() * max);
      }


      function showInfo(info){

         $("#info").empty(); 
         $("#info").show(); 
         $.each(info, function(key, value) 
         {
            $("#info").append("<tr><td>"+key+"</td><td>"+value+"<td><tr>")
         });  
      };

      function showImg(fileurl, clear = true){


         // $("#preview").attr("src", fileurl);
         canvas  = document.getElementById("preview");
         if (canvas)
         {
            context = canvas.getContext('2d');

            var img = new Image();
            img.src = fileurl;


            img.onload = function (e)
            {
               if (clear){
                  context.clearRect(0, 0, canvas.width, canvas.height);
               }
               drawImageScaled(img, context);
            };
         };

      }

      function showAll(info){

         showImg(fileurl);


         showInfo(info);
         var long = info['Long'];
         var lat = info['Lat'];
         if (long && lat){
            showLocation(long,lat);
         }else{
            showLocation(12.4573	,41.9019, false);
         }
      };

      $('#loadButton').on('click', function (e) {
            var fd = new FormData();
            var file = $('#formFile')[0].files[0];
            fd.append('file', file);
            fileurl = URL.createObjectURL(file);

            $.ajax({
               url: '/inspect', 
               type: "POST",
               data: fd,
               contentType: false,
               processData: false,
               success: showAll
            })
      });

   </script>

</body>

</html>